@using ETrade.Web.Models;
@model SignUpModel
@addTagHelper *,Microsoft.ASPNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "SignUp";
}

<!DOCTYPE html>
<html lang="tr">
<a href="@Url.Action("Index", "Home")">
    <img src="~/login/images/icons/favicon.ico" alt="Favicon" width="27" height="27">
</a>

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>SignUp Page</title> 

    <!-- Icons font CSS-->
	<link href="~/signup/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
	<link href="~/signup/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
	<link href="~/signup/vendor/select2/select2.min.css" rel="stylesheet" />
	<link href="~/signup/vendor/datepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Main CSS-->
	<link href="~/signup/css/main.css" rel="stylesheet" />
	<link href="~/login/css/util.css" rel="stylesheet" />
	<link href="~/login/css/main.css" rel="stylesheet" />
</head>
<style>
 
   .wrapper
   {
       background-color: white;
            margin: 35px auto;
   }

    .field-validation-error {
        color: red;
        font-size: 12px;
    }
</style>
<body>

    <div class="page-wrapper  "
        style="background:white";">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
					<h2 class="title"><strong>Kayıt Formu</strong></h2>
                    <form class="login100-form validate-form" asp-controller="Home" asp-action="SignUp" method="post">
                        <label asp-validation-summary="All" class="text-danger"></label>


                        <div class="row row-space">
                            <div class="col-2">
                        <div class="wrap-input100 validate-input m-b-23">

                            <label asp-for="FirstName" class="label-input100">İsim  </label>
                            <div class="input-100">
                                <input asp-for="FirstName" value="@Model.FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"> </span>
                            </div>
                        </div>
                        </div>


                            <div class="col-2">
                        <div class="wrap-input100 validate-input m-b-23">
                            <label asp-for="Last_Name" class="label-input100">Soyisim  </label>
                            <div class="input-100">
                                <input asp-for="Last_Name" value="@Model.Last_Name" class="form-control" />
                                <span asp-validation-for="Last_Name" class="text-danger"> </span>
                            </div>
                        </div>
                        </div>
                        </div>



                        <div class="row row-space">
                            <div class="col-2">
                                <div class="wrap-input100 validate-input m-b-23">

                                    <label asp-for="Email" class="label-input100">Mail Adres  </label>
                                    <div class="input-100">
                                        <input asp-for="Email" value="@Model.Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"> </span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-2">
                                <div class="wrap-input100 validate-input m-b-23">
                                    <label asp-for="Phone" class="label-input100">Telefon Numarası </label>
                                    <div class="input-100">
                                        <input asp-for="Phone" value="@Model.Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                         
                                <div class="wrap-input100 validate-input m-b-23">

                                    <label asp-for="Password" class="label-input100">Şifre  </label>
                                    <div class="input-100">
                                        <input asp-for="Password" value="@Model.Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"> </span>
                                    </div>
                                </div>
                            


                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                   KAYDOL
                                </button>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <a href="@Url.Action("Login", "Home")"/> Giriş Yap Ekranına Dön </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
	<script src="~/signup/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
	<script src="~/signup/vendor/select2/select2.min.js"></script>
	<script src="~/signup/vendor/datepicker/moment.min.js"></script>
	<script src="~/signup/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
	<script src="~/signup/js/global.js"></script>

</body>

</html>
<!-- end document-->