@using ETrade.Web.Models;
@model SignUpModel
@{
    ViewData["Title"] = "UserPage";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">


    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {
			background: transparent;
		}

		.form-control:focus {
			box-shadow: none;
			border-color: #BA68C8;
           
		}

        .form-control {
            display: block;
            width: 100%;
            height: 40px;
            padding: 13px 12px;
            font-size: 20px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

		.profile-button {
			background: #33cc33;
			box-shadow: none;
			border: none
		}

			.profile-button:hover {
				background: #66ff33;
			}

			.profile-button:focus {
				background: #33cc33;
				box-shadow: none
			}

			.profile-button:active {
				background: #33cc33;
				box-shadow: none
			}

		.back:hover {
			color: #682773;
			cursor: pointer
		}

		.labels {
			font-size: 15px
		}

	</style>

    <!--navbar-->

 
</head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!--Get your own code at fontawesome.com-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home") " style="font-family: 'Sofia', sans-serif; font-size:24px; font-weight: bold;margin-left: -45px;">E-Commercial</a>
            </div>
            <ul class="nav navbar-nav">
            </ul>

            <nav class="navbar">
                <ul class="nav navbar-nav navbar-right" style="font-size :15px; padding-left:800px;">
                    @if (User.Identity.IsAuthenticated)

                    {
                        // Kullanıcı adını al
                        var userName = User.Identity.Name;
                        // Kullanıcı adını "@" karakterine kadar olan kısmını al
                        var userNamePart = userName.Substring(0, userName.IndexOf('@'));

                        <li><a href="@Url.Action("UserPage","Home")"> @userNamePart</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-bell"></span> </a></li>
                        <li><a href="@Url.Action("Favorites","Home")"><span class="glyphicon glyphicon-heart"></span></a></li>
                        <li><a href="@Url.Action("Index","Cart")"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                        <li><a href="@Url.Action("Logout","Home")"><span class="glyphicon glyphicon-log-out"></span></a></li>
                    }
         
        </div>
    </nav>
    <!--navbarend-->

    <div class="alert alert-success">
        <strong>Kişisel Bilgiler Görüntüleme Ekranıdır!</strong> Bilgileriniz için değişikliği ilgili yönlendirmeler ile yapınız.
    </div>



    <div class="alert alert-warning">
        <strong>Şifre İşlemi!</strong> Şifre işlemlerini (Şifremi Unuttum/ Şifre Değişikliği) kısmına tıklayarak yapınız.
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            @*<div class="col-md-3 border-right">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="200px" src="~/login/images/depositphotos_27612833-stock-illustration-user-icon.jpg"><span class="font-weight-bold">@Model.FirstName.Substring(0, Model.FirstName.IndexOf('@'))</span><span class="text-black-50">@Model.Email</span><span> </span></div>
            </div>*@
       <div class="col-md-3 border-right">
    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="200px" src="~/login/images/depositphotos_27612833-stock-illustration-user-icon.jpg">
        <span class="font-weight-bold">@Model.Last_Name</span>
        <span class="text-black-50">@Model.Email</span>
        <span> </span>
    </div>
</div>


            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
						<h3 class="text-right"><strong>Kullanıcı Bilgileri </strong></h3>
                    </div>

             

					<form asp-action="UserPage" asp-controller="Home" method="post">
						<div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Ad</label><input type="text" class="form-control" placeholder="FirstName" value="@Model.FirstName" readonly></div>
                            <div class="col-md-12"><label class="labels">Soyad</label><input type="text" class="form-control" placeholder="LastName" value="@Model.Last_Name" readonly></div>
                            <div class="col-md-12"><label class="labels">Mail Adres</label><input type="text" class="form-control" placeholder="Email" value="@Model.Email" readonly></div>
                            <div class="col-md-6"><label class="labels">Şifre</label><input type="password" class="form-control" placeholder="Password" value="@Model.Password" readonly></div>
                            <a href="@Url.Action("ForgotPassword","Home")">Şifremi Unuttum/Şifre Değişikliği</a>
						</div>
						<div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Telefon Numarası</label><input type="text" class="form-control" placeholder="Phone" value="@Model.Phone" readonly></div>

						</div>
					
				
					</form>
                
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 py-5">

                    <div id="piechart"></div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    


    <!--googlechart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Banyo', 'Hours per Day'],
                ['Dekorasyon Ürünleri', 8],
                ['Mutfak', 2],
                ['Ev Eşyaları', 4],
                ['Yatak Odası', 2],
                ['Mobillya Ürünleri', 8]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Haftalık Geçirilen Süre', 'width': 550, 'height': 400 };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
    <!--googlechartend-->
</body>
</html>
